<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.heystat.docker</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/mac/HeyStat/scripts/start-heystat.sh</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/mac/HeyStat</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>StartInterval</key>
    <integer>300</integer>
    
    <key>StandardOutPath</key>
    <string>/Users/mac/HeyStat/logs/heystat-docker.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/mac/HeyStat/logs/heystat-docker-error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/mac</string>
    </dict>
    
    <key>ProcessType</key>
    <string>Interactive</string>
    
    <key>Nice</key>
    <integer>0</integer>
</dict>
</plist>
